apiVersion: apps/v1 
kind: Deployment
metadata:
  name: backend-deployment  
spec:
  replicas: 2  
  selector:
    matchLabels:
      app: backend  
  template:
    metadata:
      labels:
        app: backend  
    spec:
      containers:
      - name: backend-container
        image: prashantdey/travelmemory:be  
        ports:
        - containerPort: 3001
        env:
        - name: MONGO_URI
          valueFrom:
            secretKeyRef:
              name: backend-secret
              key: MONGO_URI
        - name: PORT
          value: "3001"